ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #12b7bc;
  display: fixed;
  top: 0;
  color: #06f0f8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: #044c4f;
}
